*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  font-family: "Nunito Sans", Arial, sans-serif;
}
.fix-menu{
  background: #fff !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
html{
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  p{
    margin: 0;
  }
}
.is-action{
  opacity: 1 !important;
  &::after{
    display: block !important;
  }
}
.btn-custom{
  border-radius: 30px;
  background: linear-gradient(135deg, #9ff669 0%, #31de79 100%);
  color: white;
  outline: none;
  border-color: #31de79;
  width: 35%;
  height: 10%;
}
.menubar{
  padding: 15px 0;
  background: transparent;
  .logo-text{
    color: black !important;
    font-weight: 900;
    font-size: 25px;
    letter-spacing: 1px;
    span{
      color: #31de79;
    }
  }
  .list-menu{
    .custom-menu{
      li{
        margin-left: 43px;
        .is-active{
          color: #31de79;
          border-bottom: 2px solid #31de79;
        }
        a{
          color: black;
          padding: 0;
        }
      }
    }
  }
}
.benner-slider{
  padding: 0 ;
  .banner-title{
    padding-bottom: 70px;
    .welcom{
      text-transform: uppercase;
      margin-bottom: 20px;
      color: #31de79;
      letter-spacing: 3px;
      font-weight: 500;
    }
    h1{
      text-transform: capitalize;
      font-weight: normal;
      line-height: 1.25;
      font-size: 45px;
      span{
        font-weight: 700;
      }
    }
    .detail{
      margin-top: 25px;
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
}
.text-writting-mode{
  writing-mode: vertical-lr;
  position: absolute;
  transform: rotate(180deg);
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  color: rgb(192, 191, 191);
  font-weight: normal;
  top: 25%;
  left: 5%;
}
.service{
  background: #f8f9fa;
  .tabs{
    &::after{
      position: absolute;
      content: "";
      width: 100%;
      height: 62px;
      background: #31de79;
      top: 100%;
      left: 0;;
    }
    padding-top: 50px;
    background: #31de79;
    ul{
      >li{
        position: relative;
        list-style-type: none;
        color: white;
        font-size: 20px;
        cursor: pointer;
        opacity: 0.8;
        &::after{
          content: '';
          position: absolute;
          width: 0;
        	height: 0;
          border-top: 11px solid transparent;
          border-right: 11px solid #f8f9fa;
          border-bottom: 11px solid transparent;
          top: 33%;
          right: -16px;
          display: none;
        }
        &:hover{
          opacity: 1;
          &::after{
            display: block ;
            opacity: 1;
          }
        }
        >i{
          margin: 15px;
          min-width: 30px;
          font-size: 25px;
        }
      }
    }
  }
  .tab-content{
    padding-left:100px;
    padding-top: 90px;
    max-width: 60%;
   .main{
     .icon-title{
       margin-bottom: 30px;
       i{
         font-size: 80px;
         color: #9ff669;
       }
      }
      .title{
        margin-bottom: 30px;
        font-weight: normal;
      }
      .detail{
        font-weight: 500;
        font-size: 15px;
        line-height: 2;
        color: #999999;
      }
      .btn-custom-2{
        width: initial;
        padding: 20px 30px;
        margin-bottom: 90px;
      }
   } 
  }
}
.section-2{
  background: url(../images/bg_3.jpg) no-repeat center center;
  background-size: cover;
  .list-content{
    margin-top: 1px;
    >div{
      padding-left: 100px;
      transition: padding-left 0.5s;
      &:hover{
        padding-left: 0;
        >.wrapper{
          >div:nth-child(1){
            >i{
              transform: rotate(180deg);
            }
          }
        }
      }
      >.wrapper{
      line-height: 2;
      display: flex;
      // flex-direction: column;
      align-items: center;
      background: rgba(255, 255, 255, 0.9);
      width: 100vw;
      padding: 35px 50px;
      padding-left: 0 !important;
      margin-bottom: 1px;
        >div:nth-child(2){
          >p{
            font-size: 15px;
          }
          >h4{
            color: #31de79;
          }
        }
        >div:nth-child(1){
          padding: 0 20px;
          color: #31de79;
        }
      }
    }
  }
}
.our-project{
  background: #f8f9fa;
  padding: 7em 0;
  .title{
    >p{
      color: #9ff669;
      letter-spacing: 2px;
    }
    >h2{
      font-size: 40px;
    }
  }
  .detail{
    color: #999999;
    margin-bottom: 70px;
  }
  .project-slider{
    .slick-dots li{
      margin: 0;
    }
    .slick-dots li button:before {
      color: #9ff669;
      font-size: 12px;
      line-height: 115px;
    }
    .project{
      overflow: hidden;
      margin: 0 15px;
      position: relative;
      >img{
        transition: all 1s;        
      }
      &:hover{
        >img{
          transform: scale(1.2,1.2);
        }
        .content{
          opacity: 1;
        }
      }
      .content{
        transition: all 1s;
        opacity: 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 20px;
        background: #31de79;
        color: white;
        >h3{
          font-size: 1.25rem;
          letter-spacing: 1px;
          font-weight: 500;
          >a{
            color: white;
            &:hover{
              text-decoration: none;
            }
          }
        }
        >p{
          font-size: 13px;
          letter-spacing: 1px;
          opacity: 0.8;
          font-weight: normal;
        }
      }
    }
  }
}
.our-staff{
  padding: 7em 0;
  p:nth-child(1){
    color: #9ff669;
    padding-bottom: 15px;
  }
  .content{
    margin-top: 30px;
    >p{
      color: #999999;
      max-width: 55%;
    }
  }
  .us{
    .main{
      .img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-position: top center;
        background-size: cover;
      }
      >h2{
        font-size: 25px;
      }
      >p{
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        color: #31de79;
      }
      .social{
        margin-top: 20px;
        >i{
          display: inline-block;
          margin: 0 5px; 
        }
      }
    }
  }
}
.section-4{
  .image-main{
    min-height: 748px;
    .image{
      height: 100%;
      background: url(../images/about.jpg) no-repeat center center;
      background-size: cover;
    }
  }
  .content{
    .wrapper{
      padding-top: 95px;
      padding-left: 33px;
      .title{
        >p{
          color: #9ff669;
          letter-spacing: 3px;
          font-size: 15px;
          margin-bottom: 10px;
        }
        >h2{
          padding-bottom: 20px;
        }
      }
      .text{
        >p{
          margin-bottom: 15px;
          color: #999999;
        }
      }
    }
    .year{
      position: absolute;
      background: #31de79;
      padding: 20px;
      padding-left: 137px;
      left: -88px;
      top: 65%;
      p:nth-child(1){
        font-size: 30px;
        font-weight: 400;
      }
      p:nth-child(2){
        letter-spacing: 1px;
        font-weight: 500;
        margin-bottom: 10px;
      }
    }
  }
}
.happy-clients{
  background: #31de79;
  h1{
    color: white;
    margin-bottom: 8rem;
  }
  .project-slider{
    .slick-list{
      overflow: initial;
    }
  }
  .project-custom{
    overflow: initial !important;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background: white;
    outline: none;
    padding-top: 100px;
    .img-user{
      position: absolute;
      border: 10px solid #31de79;
      width: 130px;
      height: 130px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      border-radius: 50%;
      top: -60px;
      left: 50%;
      transform: translate(-50%);
      .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        position: absolute;
        background: linear-gradient(135deg, #9ff669 0%, #31de79 100%);
        color: white;
        border-radius: 50%;
        bottom: -14px;
        right: -3px;
      }
    }
    .text-content{
      p:nth-child(1){
        font-size: 20px;
        color: rgba(0, 0, 0, 0.7);
        line-height: 2;
        letter-spacing: 0px;
        padding-bottom: 30px;
      }
      p:nth-child(2){
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 10px;
      }
      p:nth-child(3){
        font-size: 20px;
        color: #999999;
        padding-bottom: 30px; 
      }
    }
  }
}
.our-blog{
  background: #f8f9fa;
  padding: 7rem 0;
  .category{
    color: #9ff669;
    padding-bottom: 15px;
    letter-spacing: 1px;
  }
  .title{
    padding-bottom: 25px;
  }
  .content{
    color: #999999;
  }
  .img{
    position: relative;
    padding-bottom: 20px;
  }
  .wrapper{
    margin-top: 100px;
  }
  .date{
    position: absolute;
    top:0;
    left: 15px;
    background:linear-gradient(135deg, #9ff669 0%, #31de79 100%);
    div:nth-child(1){
      >p{
        font-size: 50px;
        font-weight: 400;
        color: #fff;
      }
    }
    div:nth-child(2){
      padding-left: 5px;
      p{
        display: block;
        font-size: 16px;
        font-weight: 500;
        color: white;
      }
    }
  }
  .description{
    >h5{
      padding-bottom: 20px;
      line-height: 1.5;
      cursor: pointer;
      &:hover{
        color: #31de79;
      }
    }
    p{
      padding-bottom: 20px;
      color: #999999;
      line-height: 2;
    }
  }
  .button{
    .btn-custom{
      font-size: 15px;
      i{
        font-size: 13px;
      }
    }
    div:nth-child(2){
      color: #999999;
      >div{
        display: inline-block;
        color: #999999;
      }
    }
  }
}
.contact-us{
  padding-top: 7rem;
  .category{
    padding-bottom: 15px;
    color: #9ff669;
    text-align: center;
    letter-spacing: 1px;
  }
  .title{
    text-align: center;
    padding-bottom: 25px;
  }
  .content{
    text-align: center;
    color: #999999;
  }
  .contact-group{
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .contact-info{
    padding: 0 15px; 
    .wrapper{
      height: 100%;
      border-radius: 5px;
      padding: 25px;
      background: linear-gradient(135deg, #9ff669 0%, #31de79 100%);
    }
    color: white;
    .icon{
      background: rgba(0, 0, 0, 0.05);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      >i{
        font-size: 30px;
        color: white;
      }
    }
    .heading{
      padding: 30px 0;
      font-weight: 500;
    }
    p:nth-child(3){
      opacity: 0.7;
      padding-bottom: 10px;
    }
  }
  .map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
  .map-container-6 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }
  .map-form{
    padding: 0 15px;
    >div{
      padding: 0;
    }
  }
  .card{
    border: none; 
    background: #f8f9fa;
    padding: 25px;
    .card-body{
      >div{
        input{
          margin-bottom: 15px;
          height: 52px;
          &:focus{
            border: 1px solid black;
            box-shadow: none;
          }
        }
        textarea{
          margin-bottom: 15px;
          &:focus{
            border: 1px solid black;
            box-shadow: none;
          }
        }
      }
      .button-custom{
        margin-bottom: 40px;
        .btn-custom{
          width: 45%;
          padding: 15px 0;
        }
      }
    }
  }
}
footer{
  background: black;
  padding: 7rem 0;
  p,i,li,span{
    color: rgba(255, 255, 255, 0.7);
  }
  h4{
    color: #fff;
  }
  >div{
    .about{
      >h4{
        margin-bottom: 50px;
      }
      >p{
        margin-bottom: 60px;
      }
      .social{
        >div{
          position: relative;
          display: inline-block;
          width: 50px;
          height: 50px;
          background: rgba(255, 255, 255, 0.1);
          border-radius: 50%;
          margin-right: 10px;
          >i{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 25px;
          }
        }
      }
    }
    .links,.service-foo{
      >h4{
        margin-bottom: 50px;
      }
      >ul{
        list-style-type: none;
        >li{
          margin-bottom: 10px;
          >i{
            margin-right: 10px;
          }
        }
      }
    }
    .contact-foo{
      >h4{
        margin-bottom: 50px;
      }
      >div{
        >div{
          margin-bottom: 10px;
          .text{
            padding-left: 0;
          }
        }
        >div:nth-child(2){
          margin-bottom: 30px;
        }
      }
    }
  }
}